// Google Fonts
@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amplang=en");

// Import Bootstrap Compass integration
@import "bootstrap-compass";
// Import custom Bootstrap variables
@import "bootstrap_variables";
// Import Bootstrap for Sass
@import "bootstrap";

@import "helpers";

.help-block {
	color: $gray-light;
}

.navbar-transparent {
	background-color: transparent;
	border: none;

	.navbar-nav > li > a, .navbar-brand {
		color: $gray-darker;
	}
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: $gray-medlight;
}

.table > thead > tr, .table > tbody > tr, .table > tfoot > tr {
	&.success > td, &.success > th, > td.success, > th.success,
	&.info > td, &.info > th, > td.info, > th.info,
	&.danger > td, &.danger > th, > td.danger, > th.danger,
	&.warning > td, &.warning > th, > td.warning, > th.warning
	{
		color: $gray-darker;
	}
}

.form-control:focus {
	border-color: $gray-dark;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(240, 0, 0, 0.60);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(240, 0, 0, 0.6);
}

// Bootstrap issue in 3.3.0 with modal https://github.com/twbs/bootstrap/issues/9855
// Fix
body.modal-open {
	padding-right: inherit !important;
}
